<ion-header>
  <ion-navbar>
    <ion-title>
      Registrazione
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/sfondoconlogo.jpeg) no-repeat center;background-size:cover;" id="page3">
  <form id="registrazione-form2" #regForm="ngForm">
    <ion-list id="registrazione-list2">
      <ion-item id="registrazione-input4">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="text"  [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <ion-item id="registrazione-input5">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password"  #password="ngModel" [(ngModel)]="user.password" name="password" minlength="6" required ngControl="password"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [(ngModel)]= "profilo.username" name='username'></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label >Nome</ion-label>
            <ion-input [(ngModel)]= "profilo.nome" name='nome'></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label>Cognome</ion-label>
            <ion-input [(ngModel)]= "profilo.cognome" name='cognome'></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Data Nascita</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]= "profilo.datanascita" name='datanascita'></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Città</ion-label>
          <ion-input [(ngModel)]= "profilo.citta" name='citta'></ion-input>
          
        </ion-item>

        <ion-item>
          <ion-label>Indirizzo</ion-label>
          <ion-input [(ngModel)]= "profilo.indirizzo" name='indirizzo'></ion-input>
        </ion-item>

      <div *ngIf="password.errors?.minlength" class="alert alert-danger">LA PASSWORD DEVE AVERE MINIMO 6 CARATTERI</div>
      <div *ngIf="password.errors?.required" class="alert alert-danger"  background-color="white">PASSWORD OBBLIGATORIA</div>
    </ion-list>
    <button id="registrazione-button3" ion-button color="stable" block (click)="reg(user)">
      Registrati
    </button>
  </form>
</ion-content>